* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #0845a5;
    overflow: hidden;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}


.website-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.website-content .header {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0.1em;
}

nav .logo {
    color: #fff;
    margin-left: 30px;
    font-size: 35px;
}

.header p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 160px;
    color: #fff;    
}

.header p span {
    padding: 4px;
    background-color: #3c7fea;
    box-shadow: 0 2px 5px rgba(60, 127, 234, 0.5);
}

nav .logo-main p {
    position: relative;
    top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 80px;
    color: #fff;
}

nav .logo-main p span {
    padding: 4px;
    background-color: #3c7fea;
    box-shadow: 0 2px 5px rgba(60, 127, 234, 0.5);
}

nav > div {
    flex: 1;
}

.toggle-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5em; 
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 2em;
    background: #3c7fea;
    border-radius: 0.25em;
    outline: none;
    height: 20px;
    width: 28px;
    border: none;
    transition: all .4s ease-out;
    cursor: pointer;
}

.burger::after,
.burger::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transition: all .4s ease-out;
    will-change: transform;
}
.burger::after {
    transform: translateY(4px);
}
.burger::before {
    transform: translateY(-4px);
}

.active.burger::after {
    transform: translateY(0) rotate(45deg);
}
.active.burger::before {
    transform: translateY(0) rotate(-45deg);
}

.burger:hover::after,
.burger:hover::before  {
    background: #000;
}
.burger:hover {
    background: #2266d4;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.block {
    flex: 1;
    height: 100%;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    margin-right: -2px;
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10em 5em;
}

.menu-item,
.menu-title {
    flex: 1;
    width: 100%;
    opacity: 0;
}
.menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item {
    display: flex;
    padding: 1em;
    transition: .3s;
    cursor: pointer;
}

.menu-item-year,
.menu-item-link {
    flex: 1;
}

.menu-item-name {
    flex: 3;
    display: flex;
    justify-content: center;
}

.menu-item-name p {
    font-size: 4vw;
    text-align: center;
}

.menu-item-link {
    text-align: right;
}

@media (max-width: 900px) {
    .logo-main p {
        display: none;
    }
    .website-content .header {
        width: 300px;
    }
}












